* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  background-color: #121417;
  height: 80vh;
  max-width: 160rem;
  margin: 10vh auto;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////////////////////////////// */
/* Rating State */
.rating-component {
  max-width: 42rem;
  padding: 3rem;
  border-radius: 3rem;
  background: radial-gradient(#232a34, #181e27);
}

.icon-box,
.number-box {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #252d37;
  margin-bottom: 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-heading,
.thankyou-heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.rating-text,
.thankyou-text {
  line-height: 1.8;
  margin-bottom: 3rem;
  color: #959eac;
}

.rating-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-box {
  cursor: pointer;
}

.number-box:hover {
  background-color: #fb7413;
}

.number-box:hover .number {
  color: #fff;
}

.selected {
  background-color: #959eac;
}

.selected .number {
  color: #fff;
}

.number {
  color: #7c8798;
  font-weight: 700;
}

.btn {
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  border: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background-color: #fb7413;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: #fb7413;
}

.hidden {
  display: none;
}

/* ////////////////////////////// */
/* Thank you State */
.thankyou-state {
  text-align: center;
}

.thankyou-img {
  padding: 2rem 2rem 0;
  margin-bottom: 3rem;
}

.tag {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
  background-color: #262e38;
  color: #fb7413;
  margin-bottom: 3rem;
}

/* ////////////////////////////// */
/* Media Queries */
@media screen and (max-width: 92em) {
  .container {
    height: 100vh;
    margin: 0 auto;
  }
}

@media screen and (max-width: 30em) {
  html {
    font-size: 55%;
  }
}
